In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv("../data/Unemployment in India.csv")
df2 = pd.read_csv("../data/Unemployment_Rate_upto_11_2020.csv")

In [3]:
df['Area'] = df.Area.map({'Rural': 'South', 'Urban': 'Northeast'})
df.dropna(inplace=True)
df.reset_index(inplace=True,drop=True)


df2.drop(['longitude', 'latitude'],axis=1,inplace=True)

In [4]:
print(df2.columns);print(df.columns)

Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Region.1'],
      dtype='object')
Index(['Region', ' Date', ' Frequency', ' Estimated Unemployment Rate (%)',
       ' Estimated Employed', ' Estimated Labour Participation Rate (%)',
       'Area'],
      dtype='object')

In [5]:
df.columns = ['Region', 'Date', 'Frequency', 'Estimated Unemployment Rate (%)',
       'Estimated Employed', 'Estimated Labour Participation Rate (%)',
       'Area']
df2.columns = ['Region', 'Date', 'Frequency', 'Estimated Unemployment Rate (%)',
       'Estimated Employed','Estimated Labour Participation Rate (%)',
       'Area']

In [6]:
df.Frequency= df['Frequency'].apply(lambda x: 'M')

In [7]:
df

,Region,Date,Frequency,Estimated Unemployment Rate (%),Estimated Employed,Estimated Labour Participation Rate (%),Area
0,Andhra Pradesh,31-05-2019,M,3.65,11999139.0,43.24,South
1,Andhra Pradesh,30-06-2019,M,3.05,11755881.0,42.05,South
2,Andhra Pradesh,31-07-2019,M,3.75,12086707.0,43.50,South
3,Andhra Pradesh,31-08-2019,M,3.32,12285693.0,43.97,South
4,Andhra Pradesh,30-09-2019,M,5.17,12256762.0,44.68,South
...,...,...,...,...,...,...,...
735,West Bengal,29-02-2020,M,7.55,10871168.0,44.09,Northeast
736,West Bengal,31-03-2020,M,6.67,10806105.0,43.34,Northeast
737,West Bengal,30-04-2020,M,15.63,9299466.0,41.20,Northeast
738,West Bengal,31-05-2020,M,15.22,9240903.0,40.67,Northeast
739,West Bengal,30-06-2020,M,9.86,9088931.0,37.57,Northeast

In [8]:
df2['Frequency'] = df['Frequency'].apply(lambda x: "M")

In [9]:
for i in range(df.shape[0]):
    if df.iloc[i].tolist() == df2.iloc[0].tolist():
        print('yes it match')
    else:
        None

In [10]:
full = pd.concat([df, df2], ignore_index=True)

In [11]:
full.to_csv("../data/Full Data Unemployment Rate in India.csv",index=False)